// Colors
$blue: #00AAEE;
$green: #0AFF00;
$yellow: #FFCC00;
$red: #FF3500;
$purple: #A300FF;

$white: white;
$black: black;

.button-xlarge {
    font-size: 125%;
}

.container {
	width: 100%;
}
.half-width {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
	margin-right: 2%;
}
#content {
	text-align: center;
	font-size: 18px;

	// login screen
	#login {
		font-size: 5vmin;
		margin-top: 200px;
	}

	// swipe page
	#swipe {
		.swiper {
			position: relative;
			img {
				border-radius: 20px;
				box-shadow: 3px 3px 10px 5px $black;
				width: 100%;
			}
		}
		.buttons {
			width: 45%;
			text-align: center;
			position: absolute;
			bottom: 10%;
			button {
				margin-left: 20px;
				margin-right: 20px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		table {
			width: 100%;
			margin: 10px;
			th, td {
			    padding: 15px;
			}
			th {
			    background-color: $blue;
			    color: $white;
			}
		}
	}
}