// Colors
$blue: #00AAEE;
$green: #0AFF00;
$yellow: #FFCC00;
$red: #FF3500;
$purple: #A300FF;

$white: white;
$black: black;

.button-xlarge {
    font-size: 125%;
}

#content {
	text-align: center;

	#login {
		font-size: 5vmin;
		margin-top: 200px;
	}
	#swipe {
		img {
			border-radius: 20px;
			box-shadow: 3px 3px 10px 5px $black;
			-webkit-user-drag: none;
		}
		.buttons {
			margin-top: 5%;
		}
		i {
			margin-top: 50%;
			font-size: 15vmin;
			opacity: 0.5;
		}
	}
}