<div id="swipe" class="container">

	<div class="half-width">

		<!-- error handling -->
		<div ng-show="errors.api">
			<h1>Error</h1>
			<p>{{errors.api}}</p>
			<button ui-sref="login" class="pure-button pure-button-primary button-xlarge">Start over</button>
		</div>

		<!-- swiper  -->
		<h1 ng-hide="errors.api">
			<span id="name">{{user.name}}</span>, <span id="age">{{user.age}}</span>
		</h1>
		<h2 ng-hide="errors.api" id="teaser">{{user.tsr}}</h2>
		<div class="swiper">
			<img class="swipeable" swipeable ng-swipe-left="swipe('left')" ng-swipe-right="swipe('right')" ng-src="{{user.img ? ('http://images.gotinder.com' + user.img) : ''}}">
		</div>

		<!-- buttons -->
		<div class="buttons" ng-hide="errors.api">
			<div>
				<button class="pure-button pure-button-primary button-xlarge" ng-click="swipe('left')">Dislike</button>
				<button class="pure-button pure-button-primary button-xlarge" ng-click="swipe('right')">Like</button>
			</div>
			<div>
				<button class="pure-button pure-button-primary button-xlarge" ng-click="fetch()">Pass</button>
			</div>
		</div>

	</div>

	<div class="half-width">
		right
	</div>
</div>